<% if flash[:notice] || flash[:alert] %>
  <div class='flash'><%= flash[:notice] || flash[:alert] %></div>
<% end %>

<div id='todo-list-container'>
<% @todos.each do |todo| %>
  <p> <%= todo.message %> </p>
<% end %>
</div>

<%= form_for(@todo, remote: true, id: 'new-todo') do |f| %>
  <%= f.label :message %>
  <%= f.text_field :message %>
  <%= f.submit %>
<% end %>