<p id="notice"><%= notice %></p>

<p><%= @wit.message %></p>
<small><%= time_ago_in_words(@wit.created_at) %></small>

<div class='actions'>
	<%= link_to 'Edit', edit_wit_path(@wit) %> |
	<%= link_to 'Back', wits_path %>
</div>