<!DOCTYPE html>
<html>
<head>
  <title>Chatter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


      <p class="notice"><%= notice %></p>

      <p class="alert"><%= alert %></p>






    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container">
      <div><h3 class="nav-title"> Chatter   <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>  Chatter   <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>  Chatter   <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>  Chatter   <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> Chatter   <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>  Chatter   <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>  Chatter   </h3></div>

      <button type="button" class="btn btn-default navbar-btn btn-left"><%= link_to 'Home', root_path %></button>
      <button type="button" class="btn btn-default navbar-btn btn-left"><%= link_to 'View All Users', users_path %></button>
      <% if user_signed_in? %>
        <button type="button" class="btn btn-default navbar-btn btn-right"><%= link_to 'Create Chat', new_user_chat_path(@user) %></button>
      <% end %>
    </div>

  </nav>

  <% if user_signed_in? %>
    <%= link_to 'Logout', destroy_user_session_path(@current_user), method: :delete %>
  <% else %>
    <%= link_to 'Sign In', new_user_session_path %>
    <% end %>

    <%= yield %>


  <div class="footer">
  </div>



</div>
</body>
</html>
