<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @assignment.title %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @assignment.grade %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @assignment.completed %>
</p>

<p>
  <strong>Late:</strong>
  <%= @assignment.late %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
